* {
    margin: 0;
    font-family: sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text-color: #001730;
    --c1: #84a8f5;
    --c2: #358bdb;
    --c3: #317fbe;
    --c4: #2975a8;
    --c5: #21405c;
    --c6: #163d5c;
}

main {
    width: 100%;
    height: auto;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: var(--c1);
    display: flex;
    z-index: 100;
    transition: 0.3s;
}

header > div, nav {
    width: 50%;
}

#header-info {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#uk-tours-logo img {
    height: 75px;
    aspect-ratio: 1.5/1;
}

#uk-tours-logo {
    height: 75px;
    aspect-ratio: 1.5/1;
    position: relative;
}

#uk-tours-logo h1 {
    color: var(--c3);
    position: absolute;
    font-size: 23px;
    right: -20px;
    bottom: 0;
    z-index: 1;
    rotate: -30deg;
    animation: text-pop 4.5s infinite;
}

#banner {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

#banner-info {
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: right;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

#drop-down-tours {
    display: flex;
    flex-direction: column;
    position: relative;
}

#drop-down-tours:hover ul {
    display: block;
    transform: scaleY(1);
}

#drop-down-tours p {
    position: relative;
    z-index: 1;
}

#drop-down-tours p::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--c2);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
    z-index: -1;
}

#drop-down-tours:hover p::before {
    transform: scaleX(1);
}

#drop-down-tours ul {
    position: absolute;
    bottom: calc(0px - (4 * 40px));
    left: 0;
    width: 100%;
    height: calc(4 * 40px);
    transform: scaleY(0);
    transition: 0.5s;
    transform-origin: top;
}

#drop-down-tours ul li {
    width: 100%;
    height: 40px;
    background-color: var(--c1);
}

#drop-down-tours a {
    width: 100%;
    height: 40px;
}

nav * {
    user-select: none;
}

nav > ul > li {
    height: 100%;
    width: 150px;
}

nav > ul > li > a, nav > ul > li > p {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

nav a, nav p {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    z-index: 1;
}

nav a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--c2);
    z-index: -1;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

nav a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

nav * {
    font-weight: bold;
}

.contentHeader
{
    padding: 20px;
    padding-bottom: 0;
    font-size: 40px;
}

.contentParagraph
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 20px;
}

.contentHeader, .contentParagraph
{
    margin-left: 50px;
    margin-right: 50px;
}

footer
{
    background-color: var(--c1);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

footer div {
    display: flex;
    gap: 30px;
}

footer a 
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    gap: 5px;
    transition: 0.3s;
    position: relative;
}

/*Cyprian moczala ma hiva i porywa male dzieci*/

footer a:hover {
    transform: scale(110%, 110%);
    cursor: pointer;
}

footer a::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    background-color: var(--c2);
    transition: 0.3s;
}

footer a:hover::after {
    transform: scaleX(1);
}

.footerIcons
{
    height: 25px;
    color: var(--text-color);
}

#ratings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}

#ratings > h1 {
    font-size: 40px;
}

#cards-holder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
}

.card {
    min-height: 300px;
    box-shadow: 0 0 10px var(--c6);
    transition: 0.85s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 10px var(--c4);
    transform: scale(105%, 105%);
}

.card [data="stars"] img {
    width: 30px;
}

.card [data="stars"] p {
    font-size: 13px;
}

.courgetteFont {
    font-family: 'Courgette', cursive;
}

.btn {
    font-size: 20px;
    background-color: var(--c1);
    color: var(--text-color);
    padding: 10px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--c2);
    transform: scale(110%, 110%);
    box-shadow: 0 0 10px var(--c3);
}

#star-customisation {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#star-customisation > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#star-customisation img {
    width: 30px;
}

#star-customisation label {
    position: relative;
    padding-left: 35px;
    height: 30px;
    cursor: pointer;
}

#star-customisation input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#star-customisation label:hover input ~ .checkmark {
    background-color: #ccc;
}

#gallery 
{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 15px 0 20px 0;
}

#big
{
    height: 600px;
    border: 3.5px solid var(--c3);
}

#small-img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.small
{
    height: 125px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;
}

.small:hover
{
    opacity: 1;
}

.checkmark {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
    width: 60%;
    height: 5px;
    background-color: white;
    transform: rotateZ(45deg);
}

.checkmark::before {
    content: "";
    position: absolute;
    display: none;
    width: 60%;
    height: 5px;
    background-color: white;
    transform: rotateZ(-45deg);
}

#star-customisation label input:checked ~ .checkmark {
    background-color: var(--c1);
}

#star-customisation label input:checked ~ .checkmark::after {
    display: block;
}

#star-customisation label input:checked ~ .checkmark::before {
    display: block;
}

#animate-menu {
    position: fixed;
    width: 100%;
    visibility: hidden;
    height: 1px;
    top: 150px;
}

#content {
    padding-bottom: 20px;
}

#add-rating-holder {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #001730ce;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

#add-rating-holder input,
#add-rating-holder textarea {
    border-radius: 10px;
    padding: 8px;
}

#add-rating-box {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

#add-rating-box > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#add-rating-box > div > div {
    display: flex;
    align-items: center;
}

#add-rating-box img {
    width: 30px;
    cursor: pointer;
}

#add-rating-box textarea {
    height: 100%;
    resize: none;
}

#add-rating-box *:not(.contentHeader) {
    font-size: 20px;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

article {
    min-height: 600px;
}

ul.contentParagraph a {
    text-decoration: none;
    color: var(--c3);
}

@keyframes text-pop {
    0% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(120%, 120%);
    }

    100% {
        transform: scale(100%, 100%);
    }
}